@import "tailwindcss";

@theme {
    --color-brand-1: #182464;
    --color-brand-2: #171D3A;
    --color-brand-3: #0A208F;
    --color-brand-4: #91A4FF;
    --color-brand-5: #BCC7FF;
    --color-brand-6: #E5E9FF;
}